<form method="POST" action="/new">
    Place your inputs and buttons in here!
    <br>
    <br>
    Name:
    <input name="name" type="text">
    <br>
    <br>
    Message: 
    <input name = "msg" type="text">
    <br>
    <br>
    <button type="submit">Submit Your Message!</button>
</form>